/* on update delete italic params in _fonts.scss in book theme */

/* You can add custom styles here. */

/*navigation padding*/

.book-menu nav {
	width: 16rem;
	padding: 2rem!important;
	background: var(--body-background);
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

/* typography */
hr, h1, h2, h3 {
  font-weight: bold;
}

.markdown h1 {
  margin-top: 1.25em;
}

.book-brand img {
  height: 1em;
  vertical-align: top;
}
.book-brand {
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.book-brand {
  font-family: Inter Extra Bold;
  font-weight: 900;
 }

.book-brand a:hover {
 background-image: -webkit-linear-gradient(270deg, #fd2b3d, #ae51aa);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 1s infinite linear;
}

@-webkit-keyframes hue {
 from {
   -webkit-filter: hue-rotate(0deg);
 }
 to {
   -webkit-filter: hue-rotate(-360deg);
 }
}

// title bold styles
.markdown h1 {
  font-weight: bold;
}
.markdown h2 {
  font-weight: bold;
}
.markdown h3 {
  font-weight: bold;
}
.markdown h4 {
  font-weight: bold;
}
.markdown h5 {
  font-weight: bold;
}

//button bottom margin fix
.markdown a.book-btn {
	margin-bottom: 10px;
}

// dark mode
.book-search input {
  width: 100%;
}

.js-toggle-wrapper {
    display: table;
    margin: 8px 30px 0 5px;
    flex: 1;
}

.js-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .js-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .js-toggle-track {
    width: 60px;
    height: 34px;
    padding: 0;
    // border-radius: 30px;
    // background-color: hsl(222, 14%, 7%);
    // background-color: var(--body-background);
    transition: all 0.2s ease;
  }

  .js-toggle-track-check {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .js-toggle--checked .js-toggle-track-check {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .js-toggle-track-x {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .js-toggle--checked .js-toggle-track-x {
    opacity: 0;
  }

  .js-toggle-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 32px;
    // border-radius: 50%;
    // background-color: var(--gray-100);
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: translateX(0);
  }

  .js-toggle--checked .js-toggle-thumb {
    transform: translateX(26px);
    border-color: #19ab27;
  }

  .magic {
      display: flex;
  }

  body.dark-mode,
  body.dark-mode main * {
      background: rgb(45, 45, 45);
      color: #f5f5f5;
  }

$theme-light: (
    gray-100: #f8f9fa,
    gray-200: #e9ecef,
    icon-filter: none,
);

$theme-dark: (
    gray-100: rgba(255, 255, 255, 0.1),
    gray-200: rgba(255, 255, 255, 0.2),
    body-font-color: #e9ecef,
    icon-filter: brightness(0) invert(1),
);

/* small image shortcode */
img[alt=smallbulletin] { width: 400px; }

img[alt=smallgif] { height: 400px; }

img[alt=smallimg] { width: 400px; } !important

/* fix for light italics */
@font-face {
    font-family: Inter;
    font-style: none;
    font-weight: 300;
    font-display: swap;
    src: local("Inter Italic"), local("Inter-Italic"), url(fonts/Inter-Italic.woff2) format("woff2"), url(fonts/Inter-Italic.woff) format("woff")
}

[data-theme=dark] {
 --gray-100: rgba(255, 255, 255, 0.1);
 --gray-200: rgba(255, 255, 255, 0.2);
 --body-background: #343a40;
 --body-font-color: #e9ecef;
 --color-link: #84b2ff;
 --color-visited-link: #b88dff;
 --icon-filter: brightness(0) invert(1)
}
[data-theme=light] {
 --gray-100: #f8f9fa;
 --gray-200: #e9ecef;
 --body-background: white;
 --body-font-color: #1d1d1f;
 --color-link: #06c;
 --color-visited-link: #1a0dab;
 --icon-filter: none
}

.book-menu nav {
	width: 16.1rem;
}

/* columns wrap fix */
.markdown .book-columns>div {
	margin: 1rem 0;
	min-width: 310px;
	padding: 0 1rem;
}

/* rounded images */
.markdown img {
  border-radius: 5px;
}
