/* on update delete italic params in _fonts.scss in book theme */

/* You can add custom styles here. */

/* typography root */
:root {
	--gray-100: #f8f9fa;
	--gray-200: #ededed;
	--body-background: #fefefe;
	--body-font-color: #444;
	--color-link: #06c;
	--color-visited-link: #1a0dab;
	--color-blue: rgb(0,112,245);
	--color-brown: rgb(152,122,84);
	--color-gray: rgb(132,132,137);
	--color-green: rgb(30,195,55);
	--color-indigo: rgb(84,82,204);
	--color-orange: rgb(245,139,0);
	--color-pink: rgb(245,35,75);
	--color-purple: rgb(159,75,201);
	--color-red: rgb(245,49,38);
	--color-teal: rgb(90,200,250);
	--color-yellow: rgb(245,194,0);
	--icon-filter: none
}

@media (prefers-color-scheme: dark) {
    :root {
			--gray-100: rgba(255, 255, 255, 0.1);
			--gray-200: rgba(255, 255, 255, 0.2);
			--body-background: #23272D;
			--body-font-color: #e9ecef;
			--color-link: #84b2ff;
			--color-visited-link: #b88dff;
			--color-blue: rgb(20,142,255);
			--color-brown: rgb(182,152,114);
			--color-gray: rgb(162,162,167);
			--color-green: rgb(60,225,85);
			--color-indigo: rgb(99,97,242);
			--color-orange: rgb(255,169,20);
			--color-pink: rgb(255,65,105);
			--color-purple: rgb(204,101,255);
			--color-red: rgb(255,79,68);
			--color-teal: rgb(100,210,255);
			--color-yellow: rgb(255,224,20);
			--icon-filter: brightness(0) invert(1)
    }
}

/*font fallback*/

.markdown {
	font-family: 'Inter', Arial, sans-serif;
}

.book-brand {
	font-family: 'Inter Extra Bold', Arial, sans-serif;
}

html {
	font-family: 'Inter', Arial, sans-serif;
}

/*navigation padding*/

.book-menu nav {
	width: 16rem;
	padding: 2rem!important;
	background: var(--body-background);
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

/* typography */
hr, h1, h2, h3 {
  font-weight: bold;
}

.markdown h1 {
  margin-top: 1.25em;
	color: var(--body-font-color);
}

.markdown h1 a {
  color: var(--body-font-color);
}

.markdown h1 a:visited {
  color: var(--body-font-color);
}

/* book brand */
.book-brand img {
  height: 1em;
  vertical-align: top;
}
.book-brand {
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.book-brand {
  font-family: Inter Extra Bold;
  font-weight: 900;
 }

.book-brand a:hover {
 background-image: -webkit-linear-gradient(270deg, #fd2b3d, #ae51aa);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 1s infinite linear;
}

@-webkit-keyframes hue {
 from {
   -webkit-filter: hue-rotate(0deg);
 }
 to {
   -webkit-filter: hue-rotate(-360deg);
 }
}

/* title bold styles */
.markdown h1 {
  font-weight: bold;
	font-size: 34px;
}
.markdown h2 {
  font-weight: bold;
	margin-bottom: 0.5rem;
}
.markdown h2 a {
  color: var(--body-font-color);
}
.markdown h2 a:visited {
  color: var(--body-font-color);
}
.markdown h3 {
  font-weight: bold;
	font-size: 24px;
	margin-bottom: 0rem;
}
.markdown h4 {
  font-weight: bold;
	font-size: 18px;
}
.markdown h5 {
  font-weight: bold;
}

.fc {
  float: left;
  font-family: Inter Extra Bold;
  font-size: 78px;
  line-height: 50px;
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 4px;
}

/*button bottom margin fix */
.markdown a.book-btn {
	margin-bottom: 10px;
}

/* dark mode */
.book-search input {
  width: 100%;
}

.js-toggle-wrapper {
    display: table;
    margin: 8px 30px 0 5px;
    flex: 1;
}

.js-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .js-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .js-toggle-track {
    width: 60px;
    height: 34px;
    padding: 0;
    // border-radius: 30px;
    // background-color: hsl(222, 14%, 7%);
    // background-color: var(--body-background);
    transition: all 0.2s ease;
  }

  .js-toggle-track-check {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .js-toggle--checked .js-toggle-track-check {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .js-toggle-track-x {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  .js-toggle--checked .js-toggle-track-x {
    opacity: 0;
  }

  .js-toggle-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 32px;
    // border-radius: 50%;
    // background-color: var(--gray-100);
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: translateX(0);
  }

  .js-toggle--checked .js-toggle-thumb {
    transform: translateX(26px);
    border-color: #19ab27;
  }

  .magic {
      display: flex;
  }

  body.dark-mode,
  body.dark-mode main * {
      background: rgb(45, 45, 45);
      color: #f5f5f5;
  }

$theme-light: (
    gray-100: #f8f9fa,
    gray-200: #ededed,
    icon-filter: none,
);

$theme-dark: (
    gray-100: rgba(255, 255, 255, 0.1),
    gray-200: rgba(255, 255, 255, 0.2),
    body-font-color: #e9ecef,
    icon-filter: brightness(0) invert(1),
);

/* small image shortcode */
img[alt=emoji] { width: 30px; }

img[alt=smallgif] { height: 400px; }

img[alt=smallimg] { width: 400px; } !important

img[alt=medal] { max-height: 100px; } !important

img {
	margin: 0rem 0;
	border-inline-start: .25rem solid var(--gray-200);
	border-radius: .25rem;
}

/* fix for light italics */
@font-face {
    font-family: Inter;
    font-style: none;
    font-weight: 300;
    font-display: swap;
    src: local("Inter Italic"), local("Inter-Italic"), url(fonts/Inter-Italic.woff2) format("woff2"), url(fonts/Inter-Italic.woff) format("woff")
}

/* dark theme colors */

[data-theme=dark] {
 --gray-100: rgba(255, 255, 255, 0.1);
 --gray-200: rgba(255, 255, 255, 0.2);
 --body-background: #23272D;
 --body-font-color: #e9ecef;
 --color-link: #84b2ff;
 --color-visited-link: #b88dff;
 --color-blue: rgb(20,142,255);
 --color-brown: rgb(182,152,114);
 --color-gray: rgb(162,162,167);
 --color-green: rgb(60,225,85);
 --color-indigo: rgb(99,97,242);
 --color-orange: rgb(255,169,20);
 --color-pink: rgb(255,65,105);
 --color-purple: rgb(204,101,255);
 --color-red: rgb(255,79,68);
 --color-teal: rgb(100,210,255);
 --color-yellow: rgb(255,224,20);
 --icon-filter: brightness(0) invert(1)
}
[data-theme=light] {
 --gray-100: #f8f9fa;
 --gray-200: #ededed;
 --body-background: #fefefe;
 --body-font-color: #444;
 --color-link: #06c;
 --color-visited-link: #1a0dab;
 --color-blue: rgb(0,112,245);
 --color-brown: rgb(152,122,84);
 --color-gray: rgb(132,132,137);
 --color-green: rgb(30,195,55);
 --color-indigo: rgb(84,82,204);
 --color-orange: rgb(245,139,0);
 --color-pink: rgb(245,35,75);
 --color-purple: rgb(159,75,201);
 --color-red: rgb(245,49,38);
 --color-teal: rgb(90,200,250);
 --color-yellow: rgb(245,194,0);
 --icon-filter: none
}

.book-search input {
	background: var(--gray-100);
}

.book-menu nav {
	width: 16.1rem;
}

/* columns wrap fix */
.markdown .book-columns>div {
	margin: 1rem 0;
	min-width: 250px;
	padding: 0 1rem;
	margin-right: 0rem;
}

/* rounded images */
.markdown img {
  border-radius: 5px;
}

/* intro background */
#intro {
	background-color: var(--gray-100);
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 0rem;
	margin-top: 1rem;
}

/* homepage links */
#links a:hover {
	background-color: var(--color-yellow);
}

/* headerbox */
#headerbox {
    display: flex;
    justify-content: space-between;
}

#headerbox .title {
	font-family: Inter Extra Bold; Arial, sans-serif;
	margin-top: 2px;
	margin-bottom: 0px;
	height: 100%;
}

.title h1 {
	margin-left: 10px;
}

#headerbox .emoji {
	float: right;
	font-size: 55px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 1rem;
}

.markdown .tag {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
}

.markdown .sitetag {
	color: var(--color-gray);
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

/* pagination fix */
ul.pagination {
display: flex;
justify-content: center;
list-style-type: none;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 0px;
}

ul.pagination .page-item a {
padding: 0.7rem;
}

/* colour squares */

.square {
  float: right;
  width: 10px;
  height: 10px;
  margin: 5px;
}

/* colors */
.blue {
  color: var(--color-blue);
}

.brown {
  color: var(--color-brown);
}

.gray {
  color: var(--color-cyan);
}

.green {
  color: var(--color-green);
}

.indigo {
  color: var(--color-indigo);
}

.orange {
  color: var(--color-orange);
}

.pink {
  color: var(--color-pink);
}

.purple {
  color: var(--color-purple);
}

.red {
  color: var(--color-red);
}

.teal {
  color: var(--color-teal);
}

.yellow {
  color: var(--color-yellow);
}

/*body resize fix*/
@media screen and (min-width: 400px) {
    .book-page, .book-menu nav, .book-toc nav {
        padding:2rem 1rem
    }
}

/* hint colours */

.markdown .book-hint {
	margin-top: 1rem;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	color: var(--body-font-color);
	background-color: var(--gray-100);
}

.markdown .book-hint.panel {
    border-color: var(--gray-100);
}

.markdown .book-hint.blue {
    border-color: var(--color-blue);
}

.markdown .book-hint.orange {
    border-color: var(--color-orange);
}

.markdown .book-hint.yellow {
    border-color: var(--color-yellow);
}

.markdown .book-hint.red {
    border-color: var(--color-red);
}

/* highlight colours */
::selection {
  background: var(--color-yellow); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--color-yellow); /* Gecko Browsers */
}

/* sticky header */
@media screen and (max-width: 56rem) {
	.book-header {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		padding: 15px;
		z-index: 1;
		background-color: var(--body-background);
	}
}

@media screen and (max-width: 56rem) {
	.markdown {
	 margin-top: 40px;
	}
}

/* image captions */
img + em {
	font-size: 12px;
}

/* infobox title style */
.markdown details summary {
	font-family: Inter Bold;
}
